*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;

    &.is-overflow {
        scrollbar-gutter: stable;
    }
}

.page {
    background: url("../images/noise.png") repeat 0 0 #EDEFF7;
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--primary_font);
    font-weight: 400;
    line-height: 1.32;
    letter-spacing: -0.5px;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    &.is-overflow {
        overflow: hidden;
        scrollbar-gutter: stable;
    }

    &__content {
        flex: 1 0 auto;
        overflow: hidden;
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    display: block;
    font-family: var(--secondary_font);
    font-weight: 900;
    line-height: 1.12;
    margin-top: 0;
    text-transform: uppercase;
}

.h1,
h1 {
    font-size: clamp(32px, 4.5vw, 64px);
    margin-bottom: 32px;
    @media(min-width: $md) {
        margin-bottom: 40px;
    }
}

.h2,
h2 {
    font-size: clamp(20px, 3.1vw, 44px);
    margin-bottom: 12px;
    @media(min-width: $md) {
        margin-bottom: 40px;
    }
}

.h3,
h3 {
    font-size: clamp(20px, 3.1vw, 32px);
    line-height: 1.2;
    margin-bottom: 12px;
}

.h4,
h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.32;
    margin-top: 0;
    margin-bottom: 4px;
}

a {
    color: var(--accent);
    transition: color 0.3s;
    @include hover {
        color: var(--button_hover);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;

    &:not([class]) {
        margin-top: 0;
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
}

ol {
    list-style-position: inside;

    li {
        &::marker {
            color: inherit;
        }
    }
}

ul {
    &:not([class]) {
        list-style: none;

        li {
            padding-left: 24px;
            position: relative;
            z-index: 1;

            &::before {
                background-color: var(--white);
                border-radius: 50%;
                content: '';
                height: 3px;
                left: 10px;
                position: absolute;
                top: 0.68em;
                width: 3px;
                z-index: 1;
            }
        }
    }
}

.responsive-table {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    border: none;
    width: 100%;

    th {
        background-color: #D9D9D9;
        padding: 20px;
    }

    td,
    th {
        border: 1px solid var(--text);
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.accent-color {
    color: var(--accent);
}