@font-face {
    font-family: 'Tilda Sans';
    src: url("../fonts/subset-TildaSans-Regular.woff2") format('woff2'), url("../fonts/subset-TildaSans-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tilda Sans';
    src: url("../fonts/subset-TildaSans-Medium.woff2") format('woff2'), url("../fonts/subset-TildaSans-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tilda Sans';
    src: url("../fonts/subset-TildaSans-Semibold.woff2") format('woff2'), url("../fonts/subset-TildaSans-Semibold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '2MASS J1808';
    src: url("../fonts/subset-2MASSJ1808-Normal.woff2") format('woff2'), url("../fonts/subset-2MASSJ1808-Normal.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: '2MASS J1808';
    src: url("../fonts/subset-2MASSJ1808-Heavy.woff2") format('woff2'), url("../fonts/subset-2MASSJ1808-Heavy.woff") format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}