.section-6 {
    display: flex;
    min-height: 500px;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 0;

    &__map {
        border-radius: 24px 24px 0 0;
        background-color: var(--grey);
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;

        iframe {
            border: none;
        }
    }

    &__inner {
        align-items: center;
        display: flex;
        position: relative;
        width: 100%;
        z-index: 1;
        @media(max-width: $sm - 0.02px) {
            align-items: flex-end;
        }
    }

    &__contacts {
        background-color: var(--white);
        border-radius: 12px;
        box-shadow: 0 0 6px 3px rgba(0,0,0,0.1);
        flex-grow: 1;
        max-width: 455px;
        padding: 16px;
        @media(min-width: $sm) {
            padding: 32px;
        }

        h2 {
            margin-bottom: 12px;
        }

        span {
            color: var(--grey_dark);
            font-size: 14px;
        }

        a {
            color: var(--text);
            text-decoration: none;
        }
    }
}

.section-5 + .section-6 {
    @media(max-width: $sm - 0.02px) {
        margin-top: -50px;
    }
}