.section-3 {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 100px;
    position: relative;
    z-index: 0;
    @media(min-width: $sm) {
        padding-top: 100px;
        padding-bottom: 155px;
    }

    &::after {
        background-color: #FE731E;
        border-radius: 50%;
        content: '';
        filter: blur(300px);
        height: 420px;
        left: 50%;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 420px;
        z-index: -1;
        @media(min-width: $sm) {
            height: 747px;
            width: 747px;
        }
    }
}

.service-list {
    --gap: 12px;
    display: flex;
    gap: var(--gap);
    @media(max-width: $sm - 0.02px) {
        margin-left: calc(0.01px - var(--container_padding));
        margin-right: calc(0.01px - var(--container_padding));
        overflow-x: auto;
        padding-left: var(--container_padding);
        padding-right: var(--container_padding);
        scrollbar-width: none;
    }
    @media(min-width: $sm) {
        flex-wrap: wrap;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-bottom: 12px;
        }
    }

    .service-card {
        @media(max-width: $sm - 0.02px) {
            min-width: 280px;
            width: 280px;
        }
        @media(min-width: $sm) {
            width: calc(100% / 2 - var(--gap));
        }
        @media(min-width: $md) {
            width: calc(100% / 3 - var(--gap) * 2 / 3);
        }
    }
}

.service-card {
    background-color: var(--white);
    border-radius: 12px;
    padding: 16px;
    @media(min-width: $sm) {
        padding: 24px;
    }

    &__image {
        display: block;
        height: 120px;
        margin-bottom: 8px;
        object-fit: contain;
        object-position: center;
        width: 120px;
    }

    &__title {
        font-family: var(--secondary_font);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.32;
        margin-bottom: 4px;
        text-transform: none;
    }
}

.utp {
    @media(min-width: $sm) {
        background-color: var(--white);
        border-radius: 12px;
        padding: 24px;
    }

    &__text {
        font-family: var(--secondary_font);
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;
        @media(min-width: $md) {
            font-size: 32px;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}