.section-2 {
    background-color: var(--black);
    border-radius: 0 0 24px 24px;
    color: var(--white);
    @media(max-width: $sm - 0.02px) {
        padding-bottom: 32px;
    }
    @media(min-width: $sm) {
        padding-top: clamp(60px, 8vw, 120px);
        padding-bottom: clamp(60px, 8vw, 120px);
    }

    &__inner {
        @media(min-width: $sm) {
            align-items: center;
            display: flex;
        }
    }

    &__image {
        position: relative;
        z-index: 0;
        @media(min-width: $sm) {
            margin-left: -80px;
            max-width: 580px;
            min-width: 40%;
        }

        &::before {
            @media(max-width: $sm - 0.02px) {
                background: linear-gradient(270deg, rgba(19, 19, 20, 0) 0%, rgba(19, 19, 20, 0.8) 60%);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 0;
            }
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        @media(max-width: $sm - 0.02px) {
            margin-top: -40px;
        }
        @media(min-width: $sm) {
            margin-left: -40px;
        }

        h2 {
            margin-bottom: 12px;
        }

        br {
            @media(max-width: $sm - 0.02px) {
                display: none;
            }
        }
    }
}

.accent-text {
    color: var(--accent);
    font-weight: 500;
    text-transform: uppercase;
    @media(min-width: $md) {
        font-size: 20px;
    }
}