<header class="header">
    <div class="header__inner container">
        <div class="header__logo">
            <img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="ГСБ">
            <span>Городская<br> служба<br> безопасности</span>
        </div>

        <div class="header__right">
            <div class="header__contacts">
                <a href="tel:+79819222220">+7 (981) 922-22-20</a>
                <a href="mailto:info@gsb.spb.ru">info@gsb.spb.ru</a>
            </div>

            <button class="js-popup-opener button button--gradient" type="button"><span>Связаться с нами</span></button>
        </div>
    </div>
</header>