<section class="section-5">
    <div class="container">
        <h2>Отзывы</h2>

        <div class="section-5__inner">
            <div class="section-5__text">
                <div class="reviews-list">
                    <div class="review">
                        <div class="review__top">
                            <img class="review__image" src="images/content/section_5/review_1.jpg" srcset="images/content/section_5/review_1@2x.jpg 2x" alt="Вадим">

                            <div>
                                <p class="review__author-name">Вадим</p>

                                <div class="review__rating-date">
                                    <div class="review__rating">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                    </div>

                                    <time class="review__date" datetime="2025-11-12">12 ноября 2025</time>
                                </div>
                            </div>
                        </div>

                        <p class="review__text">Заказали на новый объект систему видеонаблюдения и подписали коньракт на услуги по охране. Фирма ответственная, с хорошо подобранными и обученными сотрудниками. Идут на встречу, если требуется усилить
                            контроль
                            в дни открытых дверей (они у нас часто). Нареканий по работе нет.</p>
                    </div>

                    <div class="review">
                        <div class="review__top">
                            <img class="review__image" src="images/content/section_5/review_2.jpg" srcset="images/content/section_5/review_2@2x.jpg 2x" alt="Сервис VAG на Софийской">

                            <div>
                                <p class="review__author-name">Сервис VAG на Софийской</p>

                                <div class="review__rating-date">
                                    <div class="review__rating">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                    </div>

                                    <time class="review__date" datetime="2025-11-12">12 ноября 2025</time>
                                </div>
                            </div>
                        </div>

                        <p class="review__text">Пользовались услугами охраны и установкой систем видео наблюдения. Ответственность, надежность, компетентность в работе. Рекомендую!</p>
                    </div>

                    <div class="review">
                        <div class="review__top">
                            <img class="review__image" src="images/content/section_5/review_3.jpg" srcset="images/content/section_5/review_3@2x.jpg 2x" alt="Даниил Ерошенко">

                            <div>
                                <p class="review__author-name">Даниил Ерошенко</p>

                                <div class="review__rating-date">
                                    <div class="review__rating">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                        <img src="images/icons/rating-star.svg" alt="">
                                    </div>

                                    <time class="review__date" datetime="2025-11-12">12 ноября 2025</time>
                                </div>
                            </div>
                        </div>

                        <p class="review__text">Обратился в Городскую службу безопасности для обеспечения охраны объекта. С первых дней сотрудничества убедился в профессионализме компании: сотрудники действуют грамотно, ответственно и оперативно.
                            Отдельно
                            стоит отметить внимательность и вежливость охранников, а также четкое выполнение всех договоренностей. Рекомендую ГСБ как надежного партнера в сфере безопасности.</p>
                    </div>
                </div>

                <a class="button button--secondary button--h_60" href="#">Читать все на Яндекс.Картах →</a>
            </div>

            <div class="section-5__image">
                <img src="images/content/section_5/vest.png" srcset="images/content/section_5/vest@2x.png 2x" alt="">
            </div>
        </div>
    </div>
</section>