<section class="section-6">
    <div id="contacts_map" class="section-6__map">
    </div>

    <div class="section-6__inner container">
        <div class="section-6__contacts">
            <h2>Контакты</h2>
            <p><span>Телефон</span><br> +7 (981) 922-22-20</p>

            <p><span>Email</span><br> <a href="mailto:info@gsb-ohrana.spb.ru">info@gsb-ohrana.spb.ru</a></p>

            <p><span>Адрес</span><br> Санкт-Петербург, ул. Атаманская, д. 3/6П</p>
        </div>
    </div>
</section>