<section class="section-2">
    <div class="container">
        <div class="section-2__image">
            <img src="images/content/section_2/belt.png" srcset="images/content/section_2/belt@2x.png 2x" alt="">
        </div>

        <div class="section-2__text">
            <p>Почему мы</p>
            <h2>Гарантируем конфиденциальность и презентабельное сопровождение</h2>
            <p>Работаем на новых авто бизнес-класса из собственного автопарка.<br> В штате только сотрудники со спецподготовкой</p>
        </div>
    </div>
</section>