<section class="section-4 change-black-element">
    <div class="container">
        <div class="text-block-1">
            <div class="text-block-1__image">
                <img class="" src="images/content/section_4/docs.png" srcset="images/content/section_4/docs@2x.png 2x" alt="">
            </div>

            <div class="text-block-1__text">
                <h3>Обладаем лицензией на осуществление частной охранной деятельности со всеми необходимыми видами услуг</h3>
                <p>Все сотрудники персонально лицензированы 4 и 6 разрядами с правом использования защитного обмундирования и огнестрельного оружия.</p>
            </div>
        </div>

        <div class="text-block-2">
            <div class="text-block-2__image">
                <img src="images/content/section_4/man.png" srcset="images/content/section_4/man@2x.png 2x" alt="">
            </div>

            <div class="text-block-2__text">
                <h3>В штате только надёжные и спортивные парни до&nbsp;45&nbsp;лет</h3>
                <p>Мы проводим полную проверку каждого сотрудника, организуем сдачу нормативов и анализируем предыдущий опыт. После успешного отбора бойцы посещают групповые тренировки, стрельбища, проходят инструктаж и обучение. Особое внимание
                    уделяется коммуникативным навыкам, поэтому к вам выезжают вежливые, презентабельные и корректные сотрудники «ГСБ»</p>
            </div>
        </div>
    </div>

    <div class="exp-block">
        <div class="title-block container">
            <h2>Наш опыт</h2>

            <div class="exp-navigation">
                <button class="js-exp-prev swiper-button-prev" data-slider="exp" type="button" title="Назад">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15,5c0.3,0,0.5,0.1,0.7,0.3c0.4,0.4,0.4,1,0,1.4L10.4,12l5.3,5.3c0.4,0.4,0.4,1,0,1.4s-1,0.4-1.4,0l-6-6c-0.4-0.4-0.4-1,0-1.4l6-6C14.5,5.1,14.7,5,15,5z" />
                    </svg>
                </button>
                <button class="js-exp-next swiper-button-next" data-slider="exp" type="button" title="Вперёд">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M9,19c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l5.3-5.3L8.3,6.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l6,6c0.4,0.4,0.4,1,0,1.4l-6,6C9.5,18.9,9.3,19,9,19z" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="js-exp exp-slider swiper" data-slider="exp">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="exp-card">
                        <div class="exp-card__image">
                            <img src="images/content/section_4/card_1.jpg" srcset="images/content/section_4/card_1@2x.jpg 2x" alt="">
                        </div>

                        <div class="exp-card__text-block">
                            <p>Рестораны «Sunday», «Корюшка», «Легенда»</p>
                            <h3>Охрана ресторанного бизнеса</h3>
                            <h4>Организовали:</h4>
                            <ul>
                                <li>гибкую настройку режимов охраны под специфику заведений с дежурством круглосуточных постов;</li>
                                <li>оперативное реагирование на потенциальные угрозы;</li>
                                <li>четкое соблюдение внутренних регламентов и договорных обязательств.</li>
                            </ul>
                            <h4>Обеспечили:</h4>
                            <ul>
                                <li>бесперебойную работу заведений без инцидентов;</li>
                                <li>надежную защиту персонала, гостей и имущества;</li>
                                <li>соблюдение режима конфиденциальности</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="exp-card">
                        <div class="exp-card__image">
                            <img src="images/content/section_4/card_2.jpg" srcset="images/content/section_4/card_2@2x.jpg 2x" alt="">
                        </div>

                        <div class="exp-card__text-block">
                            <h3>Охрана общественно-делового пространства в Санкт‑Петербурге “SENO”</h3>
                            <h4>Организовали:</h4>
                            <ul>
                                <li>Круглосуточное дежурство на ключевых точках;</li>
                                <li>маршруты патрулирования с учетом особенностей территории;</li>
                                <li>контроль доступа и регламент действий при ЧС</li>
                            </ul>
                            <h4>Обеспечили:</h4>
                            <ul>
                                <li>Отсутствие серьезных происшествий;</li>
                                <li>своевременное пресечение нарушений;</li>
                                <li>снижение рисков хищений;</li>
                                <li>повышение комфорта благодаря видимой охране;</li>
                                <li>поддержание репутации Пространства как безопасной зоны отдыха</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="exp-card">
                        <div class="exp-card__image">
                            <img src="images/content/section_4/card_3.jpg" srcset="images/content/section_4/card_3@2x.jpg 2x" alt="">
                        </div>

                        <div class="exp-card__text-block">
                            <h3>Обеспечение безопасности городских массовых событий</h3>
                            <p>Городские события<br> <small>День ВМФ, Форум Культуры, Парад Цветов, Ночь музеев</small></p>
                            <p>Массовые фестивали<br> <small>VK FEST, Алые Паруса, Odyssey Festival, Gamma Festival, Игора Драйв</small></p>
                            <p>Концерты звезд<br> <small>Баста, SHAMAN, Люся Чеботина, Валерий Леонтьев, Олег Газманов</small></p>
                            <h4>Обеспечили:</h4>
                            <ul>
                                <li>контроль доступа на территорию;</li>
                                <li>патрулирование периметра и ключевых зон;</li>
                                <li>системы оперативного оповещения и связи между группами;</li>
                                <li>взаимодействие с правоохранительными органами и экстренными службами</li>
                            </ul>
                            <h4>Результат:</h4>
                            <p>безупречная репутация на главных событиях Петербурга</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="exp-card">
                        <div class="exp-card__image">
                            <img src="images/content/section_4/card_4.jpg" srcset="images/content/section_4/card_4@2x.jpg 2x" alt="">
                        </div>

                        <div class="exp-card__text-block">
                            <p>Тимати  Картинг СПБ, Загородный клуб «Репино-Ленинское»</p>
                            <h3>Охрана развлекательных мероприятий</h3>
                            <h4>Организовали:</h4>
                            <ul>
                                <li>индивидуальные планы охраны с учетом специфики каждой локации;</li>
                                <li>посты наблюдения в местах массового скопления людей;</li>
                                <li>пешее и мобильное патрулирование зон активности и периметра;</li>
                                <li>маршруты перемещения для VIP‑гостей</li>
                            </ul>
                            <h4>Обеспечили:</h4>
                            <ul>
                                <li>ни одного серьезного инцидента на всех сопровождаемых мероприятиях;</li>
                                <li>события про без срывов и задержек, связанных с вопросами безопасности;</li>
                                <li>мелкие конфликты и нештатные ситуации оперативно урегулированы;</li>
                                <li>репутация надежного партнера для охраны мероприятий разного масштаба подтверждена</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="exp-card">
                        <div class="exp-card__image">
                            <img src="images/content/section_4/card_5.jpg" srcset="images/content/section_4/card_5@2x.jpg 2x" alt="">
                        </div>

                        <div class="exp-card__text-block">
                            <h3>Личная охрана VIP‑персон</h3>
                            <p>звезды эстрады, блогеры, артисты (Баста, SHAMAN, Zivert, Anna Asti, Дмитрий Масленников, Олег Газманов, HammAli & Navai, Instasamka, Настя Ивлеева, Валя Карнавал</p>
                            <h4>Организовали:</h4>
                            <ul>
                                <li>персональное сопровождение VIP‑лиц на всех этапах;</li>
                                <li>разведку локаций и анализ маршрутов, мест для отдыха;</li>
                                <li>зонирование безопасности вокруг клиента;</li>
                                <li>экстренные протоколы;</li>
                                <li>сопровождение при перемещениях;</li>
                                <li>абсолютную конфиденциальность всех мероприятий</li>
                            </ul>
                            <h4>Результат:</h4>
                            <ul>
                                <li>полное отсутствие инцидентов;</li>
                                <li>минимизация стрессовых ситуаций для клиентов благодаря незаметному, но эффективному сопровождению;</li>
                                <li>конфиденциальность маршрутов и графиков;</li>
                                <li>формирование долгосрочных отношений с артистами и их менеджерами для последующего сотрудничества</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>

    <div class="clients-block container">
        <h2>Наши клиенты</h2>
        <p class="big-text">Мы высоко ценим доверие и благодарим за сделанный выбор наших постоянных клиентов.</p>

        <div class="clients">
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
            <div class="clients__item">
                <img src="images/content/section_4/client.jpg" srcset="images/content/section_4/client@2x.jpg 2x" alt="клиент">
            </div>
        </div>
    </div>
</section>