<section class="section-3">
    <div class="container">
        <h2>Услуги городской службы<br> безопасности</h2>

        <div class="service-list">
            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_1.png" srcset="images/content/section_3/icon_1@2x.png 2x" alt="Аудит служб безопасности">
                <h3 class="service-card__title">Аудит служб безопасности</h3>
                <p>Комплексная проверка системы защиты вашей организации</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_2.png" srcset="images/content/section_3/icon_2@2x.png 2x" alt="Постовая охрана">
                <h3 class="service-card__title">Постовая охрана</h3>
                <p>Обеспечение безопасности недвижимости, материальных ценностей, персонала, посетителей на закрепленной территории</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_3.png" srcset="images/content/section_3/icon_3@2x.png 2x" alt="Личная охрана, телохранители">
                <h3 class="service-card__title">Личная охрана, телохранители</h3>
                <p>Персональная защита физических лиц от потенциальных угроз</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_4.png" srcset="images/content/section_3/icon_4@2x.png 2x" alt="Сопровождение VIP-персон">
                <h3 class="service-card__title">Сопровождение<br> VIP-персон</h3>
                <p>Защита высокопоставленных лиц, публичных персон, звезд шоу-бизнеса</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_5.png" srcset="images/content/section_3/icon_5@2x.png 2x" alt="Охрана заведений: клубов, ресторанов, баров">
                <h3 class="service-card__title">Охрана заведений: клубов, ресторанов, баров</h3>
                <p>Поддержание порядка на объектах сферы развлечений и во время частных мероприятий</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_6.png" srcset="images/content/section_3/icon_6@2x.png 2x" alt="Охрана жилых комплексов и коттеджных поселков">
                <h3 class="service-card__title">Охрана жилых комплексов и коттеджных поселков</h3>
                <p>Комплексная защита территории, имущества и жителей от противоправных действий и несанкционированного доступа</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_7.png" srcset="images/content/section_3/icon_7@2x.png 2x" alt="Охрана грузов">
                <h3 class="service-card__title">Охрана грузов</h3>
                <p>Профессиональная защита груза на всем пути следования</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_8.png" srcset="images/content/section_3/icon_8@2x.png 2x" alt="Вооруженная охрана">
                <h3 class="service-card__title">Вооруженная охрана</h3>
                <p>Профессиональная охрана объектов, территорий и людей с применением служебного оружия</p>
            </div>

            <div class="service-card">
                <img class="service-card__image" src="images/content/section_3/icon_9.png" srcset="images/content/section_3/icon_9@2x.png 2x" alt="Охрана мероприятий">
                <h3 class="service-card__title">Охрана мероприятий</h3>
                <p>Комплексное сопровождение мероприятий с контролем территории, потоков людей и предотвращением инцидентов</p>
            </div>
        </div>

        <div class="utp">
            <p class="utp__text h3">Персонализированные планы безопасности для каждого клиента. Компетентные молодые сотрудники</p>

            <button class="js-popup-opener button button--primary" type="button">Забронировать уверенность</button>
        </div>
    </div>
</section>