<section class="section-1">
    <div class="section-1__top container">
        <div class="section-1__logo">
            <img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="ГСБ">
            <span>Городская<br> служба<br> безопасности</span>
        </div>

        <div class="section-1__contacts">
            <a href="tel:+7 (981) 922-22-20">+7 (981) 922-22-20</a>
            <a href="mailto:info@gsb-ohrana.spb.ru">info@gsb-ohrana.spb.ru</a>
        </div>
    </div>

    <img class="section-1__blot" src="images/content/section_1/blot.png" srcset="images/content/section_1/blot@2x.png 2x" alt="">

    <img class="section-1__bird" src="images/content/section_1/bird.png" srcset="images/content/section_1/bird@2x.png 2x" alt="">

    <div class="section-1__bottom container">
        <h1>Никаких обещаний.<br> Только гарантии.</h1>

        <button class="button button--gradient button--h_60" type="button"><span>Связаться с нами</span></button>
    </div>
</section>